.carousel_container {
  margin-top: 200px;
  height: fit-content;
  width: 100%;

  .carousel_head {
    font-family: TAU-Nilavu;
    font-weight: 700;
    font-style: italic;
    font-size: 60px;
    line-height: 64.19px;
    letter-spacing: 0%;
    text-align: center;
    color: #8f6f44;
  }
  .carousel_nav {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: all 0.3s ease;
    cursor: pointer;
    h1 {
      width: 240px;
      height: 8px;
      background: #8f6a443d;
    }
    p {
      margin-top: 15px;
      font-family: TAU-Nilavu;
      font-weight: 700;
      font-style: italic;
      font-size: 36px;
      line-height: 38.51px;
      letter-spacing: 0%;
      text-align: center;
      color: #8f6a44cc;
    }
  }

  .carousel_nav_items.active {
    color: #755738;

    h1 {
      width: 240px;
      height: 8px;
      background: #755738;
    }
    p {
      margin-top: 15px;
      font-family: TAU-Nilavu;
      font-weight: 700;
      font-style: italic;
      font-size: 48px;
      line-height: 38.51px;
      letter-spacing: 0%;
      text-align: center;
      color: #755738;
    }
  }

  .carousel_content {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .carousel_content_text {
      max-width: 545px;
      width: 100%;

      h1 {
        font-family: TAU-Nilavu;
        font-weight: 700;
        font-style: italic;
        font-size: 54px;
        line-height: 64px;
        letter-spacing: 0%;
        color: #8f6a44;
      }
      p {
        margin-top: 10px;
        font-family: Avenir;
        font-weight: 400;
        font-style: italic;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 1%;
        color: #1c1818;
      }
    }
    .selectedContent_image {
    }
  }
}

@media (max-width: 768px) {
  .carousel_container {
    margin-top: 60px;
    .carousel_head {
      font-family: TAU-Nilavu;
      font-weight: 700;
      font-style: italic;
      font-size: 36px;
      line-height: 38.51px;
      letter-spacing: 0%;
      text-align: center;
      color: #8f6f44;
    }

    .carousel_nav {
      margin-top: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 60px;

      .carousel_nav_items {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      h1 {
        width: 130px;
        height: 4.2833333015441895px;
        background: #8f6a443d;
      }
      p {
        font-family: TAU-Nilavu;
        font-weight: 700;
        font-style: italic;
        font-size: 18px;
        line-height: 19.26px;
        letter-spacing: 0%;
        text-align: center;
        color: #8f6a44cc;
      }

      .carousel_nav_items.active {
        color: #755738;

        h1 {
          width: 130px;
          height: 4.2833333015441895px;
          background: #755738;
        }
        p {
          font-family: TAU-Nilavu;
          font-weight: 700;
          font-style: italic;
          font-size: 24px;
          line-height: 25.68px;
          letter-spacing: 0%;
          text-align: center;

          color: #755738;
        }
      }
    }
    .carousel_content {
      margin-top: 55px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;

      .carousel_content_text {
        max-width: 330px;
        width: 100%;

        h1 {
          font-family: TAU-Nilavu;
          font-weight: 700;
          font-style: italic;
          font-size: 32px;
          line-height: 36.41px;
          letter-spacing: 0%;

          color: #8f6a44;
        }
        p {
          margin-top: 10px;
          font-family: Avenir;
          font-weight: 400;
          font-style: italic;
          font-size: 12px;
          line-height: 18.2px;
          letter-spacing: 1%;

          color: #1c1818;
        }
      }
      .selectedContent_image{
        max-width: 282px;
        width: 100%;
      }
    }
  }
}
