* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // overflow-x: hidden;
  // overflow: hidden;
  background-color: #F9F6EE;
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(assets/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url(assets/fonts/Inter-Medium.ttf);
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url(assets/fonts/Inter-SemiBold.ttf);
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url(assets/fonts/Inter-Bold.ttf);
}


//----
@font-face {
  font-family: "Behind The Nineties";
  font-weight: 400;
  src: url(assets/fonts/Behind-The-Nineties-Rg.ttf);
}
@font-face {
  font-family: "Behind The Nineties";
  font-weight: 500;
  src: url(assets/fonts/Behind-The-Nineties-Md.ttf);
}
@font-face {
  font-family: "Behind The Nineties";
  font-weight: 600;
  src: url(assets/fonts/Behind-The-Nineties-Smbd.ttf);
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url(assets/fonts/Behind-The-Nineties-Bd.ttf);
}


//Nilavu
@font-face {
  font-family: "TAU-Nilavu";
  font-weight: 400;
  src: url(assets/fonts/TAU-Nilavu.ttf);
}
@font-face {
  font-family: "TAU-Nilavu Bold";
  font-weight: 700;
  src: url(assets/fonts/TAU-Nilavu\ Bold.ttf);
}

//anenir
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  src: url(assets/fonts/Avenir-Medium-09.ttf);
}




